.de {
  --aspect-ratio: var(--flag--de--aspect-ratio);
}

.es {
  --aspect-ratio: var(--flag--es--aspect-ratio);
}

.fa {
  --aspect-ratio: var(--flag--fa--aspect-ratio);
}

.fr {
  --aspect-ratio: var(--flag--fr--aspect-ratio);
}

.gb {
  --aspect-ratio: var(--flag--gb--aspect-ratio);
}

.pl {
  --aspect-ratio: var(--flag--pl--aspect-ratio);
}

.us {
  --aspect-ratio: var(--flag--us--aspect-ratio);
}
