@import 'styles/mixins';

.localeOption {
  @include focus-effect;

  &:hover,
  &.selected {
    .flag {
      box-shadow: var(--box-shadow);
    }
  }
}

.content {
  display: flex;
  align-items: center;
}

.flagContainer {
  display: flex;
  justify-content: center;
  margin-right: var(--spacing--l);
}

.flag {
  box-shadow: var(--box-shadow--null);
  transition: var(--transition);
}
