.localeOption {
  width: 180px;
  padding: var(--spacing--l);
  border: var(--border);
  border-width: 3px;
  border-radius: var(--border--radius);
  border-color: var(--color--inactive);
  transition: var(--transition);
  cursor: pointer;
}

.selected {
  border-color: var(--color--primary);
}

.label {
  margin-top: var(--spacing--m);
  text-align: center;
}

.flag {
  $height: 42px;

  flex: 0 0 auto;
  width: 100%;
  height: $height;

  &.gb {
    $aspect-ratio: 2;

    width: $height * $aspect-ratio;
  }

  &.pl {
    $aspect-ratio: 1.6;

    width: $height * $aspect-ratio;
  }

  &.us {
    $aspect-ratio: 1.9;

    width: $height * $aspect-ratio;
  }
}
