$offset: 6px;
$delay: 150ms;
$duration: 750ms;

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY($offset);
  }

  75% {
    transform: translateY(-$offset);
  }

  100% {
    transform: translateY(0px);
  }
}

.tile {
  .wave & {
    $max: 20;
    $max-delay: ($max - 1) * $delay;

    animation: wave $duration infinite;
    animation-timing-function: linear;

    @for $i from 1 through $max {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * $delay - $max-delay;
      }
    }
  }
}

.dropShadow {
  filter: drop-shadow(0 0 4px rgba(#000, 0.4));
}
