@import 'styles/animations';

$delay: 150ms;
$duration: 750ms;

.tile {
  .wave & {
    $max: 20;
    $max-delay: ($max - 1) * $delay;

    animation: wave $duration infinite;
    animation-timing-function: linear;

    @for $i from 1 through $max {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * $delay - $max-delay;
      }
    }
  }
}

.dropShadow {
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
}
