.section {
  & + & {
    margin-top: var(--spacing--xl);
  }
}

.heading {
  margin-bottom: var(--spacing--l);
  font-size: var(--font--size--h2);
  font-family: var(--font--family--title);
  font-weight: 300;
}
