.mapping {
  margin-bottom: var(--spacing--l);

  &:last-child {
    margin-bottom: 0;
  }
}

.description {
  margin-bottom: var(--spacing--m);
  font-size: var(--font--size--h3);
  font-weight: 300;
}

.keys,
.group {
  display: flex;
  flex-wrap: wrap;
}

.group,
.plus {
  margin: 0 var(--spacing--s);
}

.slash {
  margin: 0 var(--spacing--m);
}

.group {
  [dir='rtl'] & {
    flex-direction: row-reverse;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
