.cursor/rules/nx-rules.mdc
.DS_Store
.github/instructions/nx.instructions.md
.next/
.nx/
.vscode
build/
coverage/
cypress/downloads
cypress/screenshots
next-env.d.ts
node_modules/
*.db
*.eslintcache
*.log
*.tsbuildinfo
*.txt
*.zip
