@import 'styles/mixins';

.button {
  width: 100%;
  text-transform: none;

  &,
  &:active,
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px 0px var(--box-shadow--color);
  }

  & + & {
    margin-top: var(--spacing--l);
  }
}
