@import 'styles/mixins';

.button {
  width: 100%;
  text-transform: none;

  &,
  &:active,
  &:focus,
  &:hover {
    box-shadow: 0 1px 1px 0 var(--box-shadow--color);
  }

  & + & {
    margin-top: var(--spacing--l);
  }
}

.settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsLabel {
  @include ellipsis;

  --quatar-flag-aspect-ratio: 2.545;
  --highest-flag-aspect-ratio: var(--quatar-flag-aspect-ratio);
  --aspect-ratio: var(--highest-flag-aspect-ratio);
  --padding: calc(var(--spacing--l) + var(--button--icon--size) * var(--aspect-ratio));

  [dir='ltr'] & {
    padding-right: var(--padding);
  }

  [dir='rtl'] & {
    padding-left: var(--padding);
  }
}

.flag {
  position: fixed;
  height: var(--button--icon--size);
  border-radius: var(--border--radius);
  box-shadow: 0 0 0 1px var(--box-shadow--color);

  [dir='ltr'] & {
    right: calc(2 * var(--spacing--l));
  }

  [dir='rtl'] & {
    left: calc(2 * var(--spacing--l));
  }
}
