.tooltip {
  padding: var(--spacing--s) var(--spacing--m);
  box-shadow: var(--box-shadow);
  border-radius: var(--border--radius);
  background-color: var(--color--tooltip--background);
  color: var(--color--tooltip--foreground);
  z-index: var(--z-index--tooltip);
}

.arrow {
  fill: var(--color--tooltip--background);
}
