.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.badge {
  margin-left: var(--spacing--m);
}

.word {
  display: flex;
  align-items: center;

  & + & {
    margin-top: var(--spacing--s);
  }
}

.invalid {
  color: var(--color--error);
}

.valid {
  color: var(--color--success);
}

.icon {
  $size: 24px;

  width: $size;
  height: $size;
  margin-right: var(--spacing--s);
}
