@import 'styles/mixins';

.option {
  & + & {
    margin-top: var(--spacing--m);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--spacing--l);
  font-family: var(--font--family--latin);

  &.fa {
    font-family: var(--font--family--arabic);
  }
}

.flag {
  --height: 32px;

  width: calc(var(--height) * var(--aspect-ratio));
  height: var(--height);
  border-radius: var(--border--radius);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
