@import 'styles/mixins';

.option {
  & + & {
    margin-top: var(--spacing--m);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--spacing--l);
  font-family: var(--font--family--latin);

  &.fa {
    font-family: var(--font--family--arabic);
  }
}

.flag {
  $height: 32px;

  height: $height;
  border-radius: var(--border--radius);
  box-shadow: var(--box-shadow);
  transition: var(--transition);

  &.de {
    $aspect-ratio: 20 / 12;

    width: $height * $aspect-ratio;
  }

  &.es {
    $aspect-ratio: 750 / 500;

    width: $height * $aspect-ratio;
  }

  &.fa {
    $aspect-ratio: 630 / 360;

    width: $height * $aspect-ratio;
  }

  &.fr {
    $aspect-ratio: 24 / 15;

    width: $height * $aspect-ratio;
  }

  &.gb {
    $aspect-ratio: 60 / 30;

    width: $height * $aspect-ratio;
  }

  &.pl {
    $aspect-ratio: 16 / 10;

    width: $height * $aspect-ratio;
  }

  &.us {
    $aspect-ratio: 7410 / 3900;

    width: $height * $aspect-ratio;
  }
}
