$title-height: 48px;
$heading-height: 32px;
$content-width: 800px;

.settings {
}

.content {
  max-width: $content-width;
  padding: 0 var(--spacing--xl);
  margin: 0 auto;
}

.title {
  position: sticky;
  top: 0;
  height: $title-height;
  padding-top: var(--spacing--xxl);
  padding-bottom: var(--spacing--xl);
  box-sizing: content-box;
}

.heading {
  height: $heading-height;
  padding-bottom: var(--spacing--l);
  box-sizing: content-box;
}

.section {
  padding: var(--spacing--xl) 0;
  border-bottom: var(--border);

  &:first-child {
    border-top: var(--border);
  }
}
