$title-height: 48px;
$heading-height: 32px;
$content-width: 800px;

.settings {
}

.content {
  max-width: $content-width;
  padding: 0 var(--spacing--xl);
  margin: 0 auto;
}

.titleContainer {
  margin-top: var(--spacing--xxl);
  margin-bottom: var(--spacing--xl);
}

.title {
  position: sticky;
  top: 0;
  height: $title-height;
  box-sizing: content-box;
}

.heading {
  margin-bottom: var(--spacing--l);
  font-size: var(--font--size--xl);
  font-family: var(--font--family--secondary);
  font-weight: 300;
}

.section {
  margin: var(--spacing--xl) 0;
}
