$title-height: 48px;
$content-width: 800px;

.settings {
}

.content {
  max-width: $content-width;
  padding: 0 var(--spacing--xl);
  margin: 0 auto;
}

.title {
  position: sticky;
  top: 0;
  height: $title-height;
  padding-top: var(--spacing--xxl);
  padding-bottom: var(--spacing--xl);
  box-sizing: content-box;
}
