@import 'styles/variables.scss';

$tile-size: 30px;

.board {
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
  }

  .cell {
    position: relative;
    display: table-cell;
    background-color: $white;
    border: $border;
    transition: background-color $micro-animation-duration, color $micro-animation-duration;

    &:not(.empty) {
      .tile {
        box-shadow: inset -1px -1px 1px 0px $dark-gray;
      }
    }

    &.bonusCharacter1 {
      background-color: transparentize($yellow, $background-opacity);
    }

    &.bonusCharacter2 {
      background-color: transparentize($green, $background-opacity);
    }

    &.bonusCharacter3 {
      background-color: transparentize($blue, $background-opacity);
    }

    &.bonusCharacter5 {
      background-color: transparentize($red, $background-opacity);
    }

    &.bonusCharacterMultiplier2 {
      background-color: transparentize($light-blue, $background-opacity);
    }

    &.bonusCharacterMultiplier3 {
      background-color: transparentize($dark-blue, $background-opacity);
    }

    &.bonusWord2 {
      background-color: transparentize($gray, $background-opacity);

      &:before {
        content: 'x2';
      }
    }

    &.bonusWord3 {
      background-color: transparentize($gray, $background-opacity);

      &:before {
        content: 'x3';
      }
    }

    &.bonusWord2,
    &.bonusWord3 {
      position: relative;

      &:before {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 15px;
        font-weight: bold;
        color: $white;
        pointer-events: none;
      }
    }

    &.characterPoints1 {
      background-color: $yellow;
    }

    &.characterPoints2 {
      background-color: $green;
    }

    &.characterPoints3 {
      background-color: $blue;
    }

    &.characterPoints5 {
      background-color: $red;
    }

    &.candidate {
      background-color: $primary;

      .tile {
        .character {
          color: $white;
        }
      }

      &:before {
        display: none;
      }

      .points {
        color: $white;
      }
    }

    .points {
      position: absolute;
      bottom: 3px;
      right: 3px;
      font-size: 10px;
    }

    .tile {
      position: relative;
      width: $tile-size;
      height: $tile-size;
      background-color: transparent;
      color: $white;
      transition: background-color $micro-animation-duration, color $micro-animation-duration;

      &.blank {
        background-color: $white;

        .character {
          color: $black;
        }
      }

      .character {
        width: $tile-size;
        height: $tile-size;
        box-sizing: border-box;
        background-color: transparent;
        border: 0;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
