@import 'styles/mixins';

.squareButton {
  @include button-reset;
  @include focus-effect;

  display: inline-block;
  color: var(--color--inactive);
  cursor: pointer;
  transition: var(--transition);

  &:focus,
  &:hover {
    text-decoration: none;
    color: var(--color--foreground--secondary);
  }

  &:active {
    color: var(--color--foreground);
  }

  &[disabled] {
    pointer-events: none;
    opacity: var(--opacity--disabled);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: var(--square-button-size);
  height: var(--square-button-size);
  pointer-events: none;
  color: inherit;
  transition: var(--transition);
}
