@import 'styles/mixins';

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--spacing--l);
}

.results {
  flex: 1 1 auto;
}

.dictionary {
  flex: 0 0 var(--dictionary--height--mobile);
  background-color: var(--color--background--element);
  border: var(--border);
  border-radius: var(--border--radius);
}
