@import 'styles/mixins';

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--spacing--l);
}

.results {
  flex: 1 1 auto;
}

.dictionary {
  flex: 0 1 calc(var(--dictionary--height) - var(--text-input--height));
  background-color: var(--color--background--element);
  border: var(--border);
  border-radius: var(--border--radius);

  @media (max-height: 600px) {
    display: none;
  }
}
