@import 'styles/animations';
@import 'styles/mixins';

.boardContainer {
  position: relative;
  display: flex;
}

.board {
  display: table;
  box-shadow: var(--box-shadow);
  border: var(--border);
}

.row {
  display: table-row;
}

.input {
  position: absolute;
  top: var(--border--width);
  right: var(--border--width);
  bottom: var(--border--width);
  left: var(--border--width);
  width: calc(100% - 2 * var(--border--width));
  height: calc(100% - 2 * var(--border--width));
  cursor: text;
  z-index: 1;
}

.actions,
.focus {
  position: absolute;
  z-index: var(--z-index--actions);
  width: max-content;
  height: max-content;
  animation: var(--transition--duration) var(--transition--easing) hide;

  &.shown {
    animation: var(--transition--duration) var(--transition--easing) show;
  }
}

.focus {
  @include focus-effect;
  cursor: text;

  &::after {
    box-shadow: 0 0 0 var(--focus-effect--size) var(--color--focus);
  }
}
