.board {
  display: table;
  box-shadow: var(--box-shadow);
  border: var(--border);
}

.row {
  display: table-row;
}

.actions {
  position: absolute;
  z-index: 1;
  width: max-content;
  height: max-content;

  [dir='ltr'] & {
    transform: translateX(100%);
  }

  [dir='rtl'] & {
    transform: translateX(-100%);
  }
}
