@import 'styles/mixins';

$size: 32px;

.button {
  @include button-reset;
  @include focus-effect;

  display: inline-block;
  transition: var(--transition);
  border-radius: var(--border--radius);
  font-size: var(--font--size--xs);
  color: var(--color--inactive);
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    .label {
      opacity: 1;
    }
  }

  &:focus,
  &:hover {
    &,
    .label {
      color: var(--color--foreground--secondary);
      text-decoration: none;
    }
  }

  &:active {
    &,
    .label {
      color: var(--color--foreground);
    }
  }

  &:hover {
    .icon {
      transform: scale(1.1);
    }
  }

  &:disabled {
    cursor: not-allowed;

    .label {
      opacity: 0;
    }

    .icon {
      transform: scale(1);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing--xs);
}

.icon,
.label {
  transition: var(--transition);
}

.icon {
  width: $size;
  height: $size;
  pointer-events: none;
  transition: var(--transition);
  color: inherit;
}

.label {
  position: absolute;
  top: calc(100% + var(--spacing--s));
  padding: var(--spacing--xs);
  transition: var(--transition);
  opacity: 0;
  font-size: inherit;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}
