@import 'styles/mixins';

.button {
  @include button-reset;
  @include focus-effect;

  display: inline-block;
  transition: var(--transition);
  border-radius: var(--border--radius);
  box-shadow: none;
  color: var(--color--inactive);
  cursor: pointer;
  opacity: 0.9;

  &,
  &:active,
  &:focus,
  &:hover {
    background-color: var(--color--primary);
    box-shadow: var(--box-shadow);
    color: white;
  }

  &:active {
    &:not(:disabled) {
      .content {
        position: relative;
        top: 1px;
      }
    }
  }

  &:disabled {
    background-color: var(--color--background);
    color: var(--color--inactive);
    box-shadow: none;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 1;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: var(--spacing--m);
  padding: var(--spacing--s) var(--spacing--l);
}

.icon,
.label {
  transition: var(--transition);
}

.icon {
  width: var(--font--size--m);
  height: var(--font--size--m);
  pointer-events: none;
  transition: var(--transition);
  color: inherit;
}

.label {
  transition: var(--transition);
  font-size: var(--font--size--m);
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}
