@import 'styles/mixins';

$checkbox-size: 18px;
$checkbox-inner-border: 2px;
$checkbox-box-size: $checkbox-size + 2 * $checkbox-inner-border;

.checkbox {
  @include focus-effect;

  display: flex;
  align-items: center;
  padding: var(--spacing--m);
  transition: var(--transition);
  cursor: pointer;

  &:hover,
  &.checked {
    .icon {
      box-shadow: var(--box-shadow);
    }
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.icon {
  flex: 0 0 auto;
  width: $checkbox-box-size;
  height: $checkbox-box-size;
  box-shadow: var(--box-shadow--null);
}

.content {
  flex: 1;
  margin-left: var(--spacing--l);
}
