@import 'styles/mixins';

$icon-size: 16px;

.cell {
  @include focus-effect;

  position: relative;
  display: table-cell;
  background-color: var(--color--white);
  border-bottom: var(--border--width) dotted var(--border--color--light);
  transition: var(--transition);
  background-clip: padding-box;

  [dir='ltr'] & {
    border-right: var(--border--width) dotted var(--border--color--light);
  }

  [dir='rtl'] & {
    border-left: var(--border--width) dotted var(--border--color--light);
  }

  &.bottom {
    border-bottom: none;
  }

  &.right {
    [dir='ltr'] & {
      border-right: none;
    }

    [dir='rtl'] & {
      border-left: none;
    }
  }

  &.bonusStart {
    &::before {
      background-color: var(--color--bonus--start);
    }
  }

  &.bonusCharacter1 {
    &::before {
      background-color: var(--color--bonus--character--1);
    }
  }

  &.bonusCharacter2 {
    &::before {
      background-color: var(--color--bonus--character--2);
    }
  }

  &.bonusCharacter3 {
    &::before {
      background-color: var(--color--bonus--character--3);
    }
  }

  &.bonusCharacter5 {
    &::before {
      background-color: var(--color--bonus--character--5);
    }
  }

  &.bonusCharacterMultiplier2 {
    &::before {
      background-color: var(--color--bonus--character-multiplier--2);
    }
  }

  &.bonusCharacterMultiplier3 {
    &::before {
      background-color: var(--color--bonus--character-multiplier--3);
    }
  }

  &.bonusWord2 {
    &::before {
      content: 'x2';
      background-color: var(--color--bonus--word-multiplier--2);
    }
  }

  &.bonusWord3 {
    &::before {
      content: 'x3';
      background-color: var(--color--bonus--word-multiplier--3);
    }
  }

  &.candidate {
    &::before {
      content: ' ';
      background-color: var(--color--primary);
    }
  }

  &::before {
    $size: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: (100% - $size) / 2;
    left: (100% - $size) / 2;
    width: $size;
    height: $size;
    border-radius: var(--border--radius);
    pointer-events: none;
    font-size: 60%;
    font-weight: bold;
    color: var(--color--white);
    content: ' ';

    [lang='fa-IR'] & {
      font-family: 'Open Sans', sans-serif;
    }
  }

  &:focus-within {
    z-index: 2;

    .actions {
      display: flex;
    }

    .action {
      user-select: initial;
      pointer-events: auto;
    }
  }
}

.actions {
  display: none;
  position: absolute;
  top: -$icon-size;
  z-index: 2;
  transition: var(--transition);
  pointer-events: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border--radius);

  [dir='ltr'] & {
    left: calc(100% + var(--spacing--s) - #{$icon-size});
  }

  [dir='rtl'] & {
    right: calc(100% + var(--spacing--s) - #{$icon-size});
  }
}

.action {
  @include button-reset;

  display: flex;
  justify-content: center;
  padding: var(--spacing--s);
  user-select: none;
  pointer-events: none;
  box-sizing: content-box;
  background-color: var(--color--white);
  border: var(--border);
  font-size: var(--font--size--m);
  line-height: $icon-size;
  color: var(--color--foreground--secondary);
  transition: var(--transition);
  cursor: pointer;

  & + & {
    [dir='ltr'] & {
      border-left: none;
    }

    [dir='rtl'] & {
      border-right: none;
    }
  }

  [dir='ltr'] & {
    &:first-child {
      border-top-left-radius: var(--border--radius);
      border-bottom-left-radius: var(--border--radius);
    }

    &:last-child {
      border-top-right-radius: var(--border--radius);
      border-bottom-right-radius: var(--border--radius);
    }
  }

  [dir='rtl'] & {
    &:first-child {
      border-top-right-radius: var(--border--radius);
      border-bottom-right-radius: var(--border--radius);
    }

    &:last-child {
      border-top-left-radius: var(--border--radius);
      border-bottom-left-radius: var(--border--radius);
    }
  }

  &,
  .filterCell,
  .toggleDirection {
    width: $icon-size;
    height: $icon-size;
  }

  &:active,
  &:hover {
    color: var(--color--foreground);
  }
}

.toggleDirection {
  transition: var(--transition);

  &.right {
    transform: rotate(-90deg);

    [dir='rtl'] & {
      transform: rotate(90deg);
    }
  }
}

.filterCell {
  color: var(--color--inactive);

  &.filtered {
    color: var(--color--foreground--secondary);
  }
}

.iconContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flagContainer {
  background-color: var(--color--primary);
}

.flag,
.star {
  color: var(--color--white);
}

.star {
  $size: 40%;

  width: $size;
  height: $size;
}

.flag {
  $size: 50%;

  width: $size;
  height: $size;
}
