@import 'styles/mixins';

$icon-size: 16px;

.cell {
  @include focus-effect;

  position: relative;
  display: table-cell;
  background-color: white;
  border-right: var(--border);
  border-bottom: var(--border);
  transition: var(--transition);
  background-clip: padding-box;

  &.bonusStart,
  &.bonusWord2,
  &.bonusWord3 {
    position: relative;

    &:before {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-weight: bold;
      pointer-events: none;
    }
  }

  &.bonusStart {
    background-color: var(--color--red--light);

    &:before {
      content: '★';
      color: var(--color--foreground--secondary);
    }
  }

  &.bonusCharacter1 {
    background-color: var(--color--yellow--light);
  }

  &.bonusCharacter2 {
    background-color: var(--color--green--light);
  }

  &.bonusCharacter3 {
    background-color: var(--color--blue--light);
  }

  &.bonusCharacter5 {
    background-color: var(--color--red--light);
  }

  &.bonusCharacterMultiplier2 {
    background-color: var(--color--light-blue--light);
  }

  &.bonusCharacterMultiplier3 {
    background-color: var(--color--dark-blue--light);
  }

  &.bonusWord2,
  &.bonusWord3 {
    background-color: var(--color--inactive);

    &:before {
      font-size: 75%;
      color: white;
    }
  }

  &.bonusWord2 {
    &:before {
      content: 'x2';
    }
  }

  &.bonusWord3 {
    &:before {
      content: 'x3';
    }
  }

  &.characterPoints1 {
    background-color: var(--color--yellow);
  }

  &.characterPoints2 {
    background-color: var(--color--green);
  }

  &.characterPoints3 {
    background-color: var(--color--blue);
  }

  &.characterPoints5 {
    background-color: var(--color--red);
  }

  &.candidate {
    background-color: var(--color--primary);

    &:before {
      display: none;
    }
  }

  &:focus-within {
    z-index: 1;

    .actions {
      display: flex;
    }

    .action {
      user-select: initial;
      pointer-events: auto;
    }
  }
}

.actions {
  display: none;
  position: absolute;
  left: calc(100% + var(--spacing--s) - #{$icon-size});
  top: -$icon-size;
  z-index: 2;
  transition: var(--transition);
  pointer-events: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border--radius);
}

.action {
  @include button-reset;

  display: flex;
  justify-content: center;
  padding: var(--spacing--s);
  user-select: none;
  pointer-events: none;
  box-sizing: content-box;
  background-color: white;
  border: var(--border);
  border-top-left-radius: var(--border--radius);
  border-bottom-left-radius: var(--border--radius);
  font-size: var(--font--size--m);
  line-height: $icon-size;
  color: var(--color--foreground--secondary);
  transition: var(--transition);
  cursor: pointer;

  & + & {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:last-child {
    border-top-right-radius: var(--border--radius);
    border-bottom-right-radius: var(--border--radius);
  }

  &,
  .toggleDirection {
    width: $icon-size;
    height: $icon-size;
  }

  &:active,
  &:hover {
    color: var(--color--foreground);
  }
}

.toggleDirection {
  transition: var(--transition);

  &.right {
    transform: rotate(-90deg);
  }
}

.blank {
  user-select: none;

  &.active {
    font-weight: bold;
  }
}
