.cell {
  $tile-size: 40px;
  $tile-font-size: $tile-size / 2;

  position: relative;
  display: table-cell;
  background-color: white;
  border: var(--border);
  transition: background-color var(--transition-duration), color var(--transition-duration);

  &.bonusCharacter1 {
    background-color: var(--color--yellow--light);
  }

  &.bonusCharacter2 {
    background-color: var(--color--green--light);
  }

  &.bonusCharacter3 {
    background-color: var(--color--blue--light);
  }

  &.bonusCharacter5 {
    background-color: var(--color--red--light);
  }

  &.bonusCharacterMultiplier2 {
    background-color: var(--color--light-blue--light);
  }

  &.bonusCharacterMultiplier3 {
    background-color: var(--color--dark-blue--light);
  }

  &.bonusWord2,
  &.bonusWord3 {
    background-color: var(--color--inactive);
  }

  &.bonusWord2 {
    &:before {
      content: 'x2';
    }
  }

  &.bonusWord3 {
    &:before {
      content: 'x3';
    }
  }

  &.bonusWord2,
  &.bonusWord3 {
    position: relative;

    &:before {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: $tile-font-size;
      font-weight: bold;
      color: white;
      pointer-events: none;
    }
  }

  &.characterPoints1 {
    background-color: var(--color--yellow);
  }

  &.characterPoints2 {
    background-color: var(--color--green);
  }

  &.characterPoints3 {
    background-color: var(--color--blue);
  }

  &.characterPoints5 {
    background-color: var(--color--red);
  }

  &.candidate {
    background-color: var(--color--primary);

    &:before {
      display: none;
    }
  }
}

.tile {
  border-radius: inherit;
}
