@import 'styles/mixins';

.cell {
  @include focus-effect;

  position: relative;
  display: table-cell;
  background-color: var(--color--white);
  border-bottom: var(--border--width) dotted var(--border--color--light);
  transition: var(--transition);
  background-clip: padding-box;

  [dir='ltr'] & {
    border-right: var(--border--width) dotted var(--border--color--light);
  }

  [dir='rtl'] & {
    border-left: var(--border--width) dotted var(--border--color--light);
  }

  &.bottom {
    border-bottom: none;
  }

  &.right {
    [dir='ltr'] & {
      border-right: none;
    }

    [dir='rtl'] & {
      border-left: none;
    }
  }

  &.bonusStart {
    &::before {
      background-color: var(--color--bonus--start);
    }
  }

  &.bonusCharacter1 {
    &::before {
      background-color: var(--color--bonus--character--1);
    }
  }

  &.bonusCharacter2 {
    &::before {
      background-color: var(--color--bonus--character--2);
    }
  }

  &.bonusCharacter3 {
    &::before {
      background-color: var(--color--bonus--character--3);
    }
  }

  &.bonusCharacter5 {
    &::before {
      background-color: var(--color--bonus--character--5);
    }
  }

  &.bonusCharacterMultiplier2 {
    &::before {
      background-color: var(--color--bonus--character-multiplier--2);
    }
  }

  &.bonusCharacterMultiplier3 {
    &::before {
      background-color: var(--color--bonus--character-multiplier--3);
    }
  }

  &.bonusWord2 {
    &::before {
      content: 'x2';
      background-color: var(--color--bonus--word-multiplier--2);
    }
  }

  &.bonusWord3 {
    &::before {
      content: 'x3';
      background-color: var(--color--bonus--word-multiplier--3);
    }
  }

  &.candidate {
    &::before {
      content: ' ';
      background-color: var(--color--primary);
    }
  }

  &.filtered {
    &::before {
      content: ' ';
      background-color: var(--color--foreground--secondary);
    }
  }

  &::before {
    $size: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: (100% - $size) / 2;
    left: (100% - $size) / 2;
    width: $size;
    height: $size;
    border-radius: var(--border--radius);
    pointer-events: none;
    font-size: 60%;
    font-weight: bold;
    color: var(--color--white);
    content: ' ';

    [lang='fa-IR'] & {
      font-family: 'Open Sans', sans-serif;
    }
  }

  &:focus-within {
    z-index: 2;
  }
}

.icon {
  $size: 40%;

  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);
  color: var(--color--white);
}
