@import 'styles/variables.scss';

.tiles {
  display: flex;
  box-shadow: 0 -2px 5px 0px $gray;
}

.tile {
  margin: 0 0px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
