@import 'styles/mixins';

.inputPrompt {
  display: flex;
  box-shadow: var(--box-shadow);
  border-radius: var(--border--radius);
  transition: var(--transition);
  transition-property: opacity;
}

.toggleDirection {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.input {
  @include text-input;

  height: 100%;
  max-width: 200px;
  border: none;
  border-top: var(--border);
  border-bottom: var(--border);
  border-radius: 0;
}

.insert {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.insertIcon {
  transform: scale(1.5);
}
