@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  $offset: 6px;

  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY($offset);
  }

  75% {
    transform: translateY(-$offset);
  }

  100% {
    transform: translateY(0px);
  }
}
