@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes wave {
  $offset: 6px;

  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY($offset);
  }

  75% {
    transform: translateY(-$offset);
  }

  100% {
    transform: translateY(0px);
  }
}
