@import '~normalize.css';

@import './mixins';
@import './variables';

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  font-family: var(--font--family);
}

html,
body {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: var(--color--background);
  color: var(--color--foreground);
  font-size: var(--font--size--m);
  line-height: var(--line-height);
}

a {
  @include focus-effect;

  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

/* https://github.com/vercel/next.js/discussions/13387#discussioncomment-5694715 */
nextjs-portal {
  display: none;
}
