@mixin tablet() {
  @media (max-width: 1024px) {
    @content;
  }

  @media (max-height: 800px) {
    @content;
  }
}

/**
 * It does not work when applied on input elements.
 */
@mixin focus-effect {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: var(--transition);
    border-radius: var(--border--radius);
    box-shadow: 0 0 0 var(--focus--box-shadow--size) transparent;
    pointer-events: none;
  }

  &:focus-within {
    &,
    * {
      outline: none;
    }

    &:after {
      box-shadow: 0 0 0 var(--focus--box-shadow--size) var(--color--focus);
    }
  }
}

@mixin ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin button-reset {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

@mixin list-reset {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

@mixin text-input {
  width: 100%;
  min-height: var(--text-input--height);
  height: var(--text-input--height);
  max-height: var(--text-input--height);
  padding: 0 var(--spacing--l);
  transition: var(--transition);
  font-size: var(--font--size--s);
  font-family: var(--font--family);
}
