$easeOutSine: cubic-bezier(0.61, 1, 0.88, 1);

:root {
  --border--color: #cdcdcd;
  --border--radius: 5px;
  --border--width: 1px;
  --border: var(--border--width) solid var(--border--color);

  --box-shadow--blur: 10px;
  --box-shadow--spread: 1px;
  --box-shadow--offset: 1px;
  --box-shadow--offset--negative: calc(-1 * var(--box-shadow--offset));
  --box-shadow--color: #{rgba(#000, 0.15)};
  --box-shadow: 0 0 var(--box-shadow--blur) var(--box-shadow--spread) var(--box-shadow--color);
  --box-shadow--null: 0 0 var(--box-shadow--blur) var(--box-shadow--spread) transparent;
  --box-shadow--top: 0 var(--box-shadow--offset--negative) var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);
  --box-shadow--bottom: 0 var(--box-shadow--offset) var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);
  --box-shadow--left: var(--box-shadow--offset--negative) 0 var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);
  --box-shadow--right: var(--box-shadow--offset) 0 var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);
  --box-shadow--error: 0 0 var(--box-shadow--blur) var(--box-shadow--spread) var(--color--error);

  --color--background: #f4f4f4;
  --color--background--secondary: #111;
  --color--background--overlay: rgba(255, 255, 255, 0.65);
  --color--error: rgba(255, 0, 0, 0.75);
  --color--focus: #{rgba(#268fff, 0.5)};
  --color--foreground: black;
  --color--foreground--secondary: #444;
  --color--inactive: #cdcdcd;
  --color--primary: var(--color--violet);

  --color--yellow: #efe3ae;
  --color--yellow--light: #f7f1d6;
  --color--green: #bae3ba;
  --color--green--light: #d6ebd6;
  --color--blue: #c7d8f9;
  --color--blue--light: #dde4f6;
  --color--light-blue: #7bb5e5;
  --color--light-blue--light: #{rgba(#7bb5e5, 0.5)};
  --color--dark-blue: #1868ad;
  --color--dark-blue--light: #{rgba(#1868ad, 0.5)};
  --color--red: #f7c2aa;
  --color--red--light: #fbe0d4;
  --color--violet: #78387f;
  --color--violet--light: #{rgba(#78387f, 0.5)};

  --font--family: 'Open Sans', sans-serif;
  --font--family--title: 'Lato', sans-serif;
  --font--family--monospace: 'Roboto Mono', monospace;
  --font--size--h1: 30px;
  --font--size--h2: 22px;
  --font--size--h3: 18px;
  --font--size--m: 16px;
  --font--size--s: 14px;
  --font--size--xs: 12px;

  --line-height: 1.5;

  --spacing--xs: 2px;
  --spacing--s: 5px;
  --spacing--m: 10px;
  --spacing--l: 20px;
  --spacing--xl: 40px;
  --spacing--xxl: 80px;

  --sidebar-width: 580px;

  --transition--duration: 100ms;
  --transition--duration--long: 250ms;
  --transition--easing: #{$easeOutSine};
  --transition: all var(--transition--duration) var(--transition--easing);

  --focus--box-shadow--size: 6px;
}
