:root {
  --border--color: #a7a7a7;
  --border--radius: 10px;
  --border: 1px solid var(--border--color);

  --box-shadow--blur: 10px;
  --box-shadow--spread: 5px;
  --box-shadow--offset: 0px;
  --box-shadow--color: rgba(#000, 0.18);
  --box-shadow: 0 0 var(--box-shadow--blur) var(--box-shadow--spread) var(--box-shadow--color);
  --box-shadow--top: 0 (-var(--box-shadow--offset)) var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);
  --box-shadow--bottom: 0 var(--box-shadow--offset) var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);
  --box-shadow--left: -var(--box-shadow--offset) 0 var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);
  --box-shadow--right: var(--box-shadow--offset) 0 var(--box-shadow--blur) var(--box-shadow--spread)
    var(--box-shadow--color);

  --color--background: #eee;
  --color--background--secondary: #ccc;
  --color--foreground: black;
  --color--focus: rgba(#268fff, 0.5);

  --font--family: 'Open Sans', sans-serif;
  --font--size--m: 16px;
  --font--size--l: 22px;

  --line-height: 1.5;

  --spacing--s: 5px;
  --spacing--m: 10px;
  --spacing--l: 20px;
  --spacing--xl: 40px;

  --transition--duration: 100ms;
  --transition--easing: cubic-bezier(0.61, 1, 0.88, 1); // easeOutSine
}
