@import 'styles/variables.scss';

.remainingTiles {
  display: flex;
  justify-content: space-between;

  .tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30px;
    padding: 5px 0;
    border: $border;

    &.points0 {
      background-color: $white;
    }

    &.points1 {
      background-color: transparentize($yellow, $background-opacity);
    }

    &.points2 {
      background-color: transparentize($green, $background-opacity);
    }

    &.points3 {
      background-color: transparentize($blue, $background-opacity);
    }

    &.points5Plus {
      background-color: transparentize($red, $background-opacity);
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.noMoreLeft {
      color: $gray;
    }

    &.error {
      color: $red;
    }

    .character {
      margin-bottom: 2px;
      white-space: pre;
    }
  }
}
