.mapping {
  margin-bottom: var(--spacing--l);

  &:last-child {
    margin-bottom: 0;
  }
}

.description {
  margin-bottom: var(--spacing--m);
  font-size: var(--font--size--h3);
  font-family: var(--font--family--secondary);
  font-weight: 300;
}

.keys,
.group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.group,
.plus {
  margin: 0 var(--spacing--s);
}
