@import 'styles/mixins';

$radio-size: 18px;
$radio-inner-border: 2px;
$radio-inner-size: $radio-size - 2 * $radio-inner-border;
$radio-box-size: $radio-size + 2 * $radio-inner-border;

.radio {
  @include focus-effect;

  display: flex;
  align-items: center;
  gap: var(--spacing--l);
  padding: var(--spacing--m);
  transition: var(--transition);
  cursor: pointer;

  &.checked {
    .iconContent {
      background-color: var(--color--primary);
    }
  }

  &.disabled {
    opacity: var(--opacity--disabled);
    cursor: not-allowed;
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: inherit;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: $radio-box-size;
  height: $radio-box-size;
  border: $radio-inner-border solid var(--color--primary);
  border-radius: 50%;
}

.content {
  flex: 1;
}

.iconContent {
  width: $radio-inner-size;
  height: $radio-inner-size;
  background-color: transparent;
  border-radius: 50%;
  transition: var(--transition);
}
