@import 'styles/mixins';

$radio-size: 18px;
$radio-inner-border: 2px;
$radio-inner-size: $radio-size - 2 * $radio-inner-border;
$radio-box-size: $radio-size + 2 * $radio-inner-border;

.radio {
  @include focus-effect;

  display: flex;
  align-items: center;
  padding: var(--spacing--m);
  transition: var(--transition);
  cursor: pointer;

  &:hover,
  &.checked {
    .icon {
      box-shadow: var(--box-shadow);
    }
  }

  &.checked {
    .icon {
      &:after {
        content: ' ';
        position: absolute;
        top: $radio-inner-border;
        left: $radio-inner-border;
        width: $radio-inner-size;
        height: $radio-inner-size;
        background-color: var(--color--primary);
        border-radius: 50%;
      }
    }
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.content {
  margin-left: var(--spacing--l);
}

.icon {
  position: relative;
  width: $radio-box-size;
  height: $radio-box-size;
  border-radius: 50%;
  border: $radio-inner-border solid var(--color--primary);
  box-shadow: var(--box-shadow--null);
  transition: var(--transition);
}
