.credits {
  display: flex;
  justify-content: center;
  margin: 5px 0;

  .message {
    margin-right: 5px;

    &:after {
      content: ':';
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
