.locales {
  display: flex;
  justify-content: center;
  width: 100%;

  .locale {
    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 430px) {
    flex-wrap: wrap;

    .locale {
      margin: 40px 20px;

      &:first-child {
        margin-left: 20px;
        margin-top: 0;
      }

      &:last-child {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
}
