.locale {
  display: flex;
  align-items: center;
  position: relative;
  height: 16px;
  cursor: pointer;
  border: $border;

  &:hover {
    border-color: $primary;
  }

  svg {
    height: 100%;
  }
}

.config {
  display: flex;

  > div {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
