@import 'styles/mixins';

.rack {
  display: flex;
  box-shadow: var(--box-shadow);
}

.tile {
  @include focus-effect;

  --background-color: var(--color--background);

  &:focus-within {
    z-index: 2;
  }
}
