@import 'styles/variables.scss';

$height: 100px;

.dictionaryOutput {
  position: relative;
  padding: 15px;
  min-height: $height;
  height: $height;
  max-height: $height;
  overflow: auto;
  background-color: $white;
  border: $border;
  transition: background-color $micro-animation-duration;

  .word {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }

  &.isAllowed {
    background-color: $green;
  }

  &.isNotAllowed {
    background-color: $red;
  }
}
