.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color--background--element);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.dictionary {
  flex: 1;
  border-bottom: var(--border);
  max-height: initial;
}

.dictionaryInput {
  flex: 0 0 auto;
}
