@import '~normalize.css/normalize.css';
@import 'styles/variables.scss';

html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: $light-gray;
  background-image: url('images/bg.png');
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

input {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
