@import 'styles/variables.scss';

.input {
  display: flex;

  input {
    flex-grow: 1;
    padding: 5px;
    border: $border;
    border-color: $gray;
    border-right: none;
    font-size: 16px;
    color: $black;
    text-transform: uppercase;
    transition: border-color $micro-animation-duration;

    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
}
