.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  background-color: $primary;
  transition: background-color $micro-animation-duration;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
  }
}
