.emptyState {
  padding: var(--spacing--xl);
  color: var(--color--foreground--secondary);
  text-align: center;
  text-transform: none;
}

.tiles {
  display: inline-block;
  max-width: 100%;
  margin-bottom: var(--spacing--m);
  height: 48px;
  overflow: visible;
}
