@import 'styles/mixins';

.dictionaryInput {
  &:focus-within {
    @include focus-effect;
  }
}

.input {
  width: 100%;
  min-height: var(--text-input--height);
  height: var(--text-input--height);
  max-height: var(--text-input--height);
  padding: 0 var(--spacing--l);
  transition: var(--transition);
  font-size: var(--font--size--s);
  border: none;
}
