@import 'styles/variables.scss';

.list {
  background-color: $white;
  font-size: 16px;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-s 0;
  border-bottom: $border;
  font-size: 18px;
  box-shadow: 0 0 5px 0 $gray;
}

.row {
  display: flex;
  align-items: center;
  padding: $spacing-s 0;
  user-select: none;
  transition: background-color $micro-animation-duration, color $micro-animation-duration;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    color: $white;
  }

  &:focus {
    background-color: $primary-active;
    color: $white;
    outline: none;
  }
}

.cell {
  padding: 0 $spacing-m;
}

.word {
  flex: 1;
}

.points {
  flex: 0 0 auto;
  text-align: right;
}
