@import 'styles/mixins';

$row-padding: var(--spacing--s) var(--spacing--m);
$outdated-height: 44px;
$outdated-icon-size: 24px;

.results {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font--family--title);
  font-size: var(--font--size--s);
  text-transform: uppercase;
}

.list {
  transition: var(--transition);
  opacity: 1;

  &.outdated {
    opacity: 0.25;
  }
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $row-padding;
  border-bottom: var(--border);
  font-size: var(--font--size--m);
  font-weight: 700;
}

.row {
  display: flex;
  align-items: center;
  padding: $row-padding;
  user-select: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 400;

  &:hover {
    background-color: var(--color--primary);
    color: white;
  }

  &:focus {
    @include focus-effect;

    background-color: var(--color--primary);
    color: white;
  }
}

.cell {
  padding: 0 var(--spacing--m);
}

.word {
  flex: 1;
}

.points {
  flex: 0 0 auto;
  text-align: right;
}

.outdatedButton {
  @include button-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  height: $outdated-height;
  transition: var(--transition);
  border-top: var(--border);
  cursor: pointer;

  &:disabled {
    background-color: var(--color--background);
    color: var(--color--inactive);
  }

  &:focus {
    @include focus-effect;
  }

  &:active,
  &:hover {
    background-color: var(--color--primary);
    color: white;
  }
}

.outdatedIcon {
  width: $outdated-icon-size;
  height: $outdated-icon-size;
  margin-right: var(--spacing--m);
}

.outdatedLabel {
  line-height: $outdated-icon-size;
  vertical-align: middle;
  font-size: var(--font--size--s);
  text-transform: uppercase;
}
