@import 'styles/mixins';

$row-padding: var(--spacing--s) var(--spacing--m);

.results {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font--family--secondary);
  font-size: var(--font--size--s);
  text-transform: uppercase;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $row-padding;
  border-bottom: var(--border);
  font-size: var(--font--size--m);
  font-weight: 700;
}

.empty {
  flex: 1;
  padding: var(--spacing--xl);
  font-family: var(--font--family);
  color: var(--color--foreground--secondary);
  text-align: center;
  text-transform: none;
}

.row {
  display: flex;
  align-items: center;
  padding: $row-padding;
  user-select: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 400;

  &:hover {
    background-color: var(--color--primary);
    color: white;
  }

  &:focus {
    @include focus-effect;

    background-color: var(--color--primary);
    color: white;
  }
}

.cell {
  padding: 0 var(--spacing--m);
}

.word {
  flex: 1;
}

.points {
  flex: 0 0 auto;
  text-align: right;
}
