@import 'styles/mixins';

$tile-size: 64px;
$tile-font-size: $tile-size * 3 / 5;

.tile {
  position: relative;
  background-color: transparent;
  color: white;
  transition: var(--transition);

  &.raised {
    box-shadow: inset -2px -2px 2px -1px rgba(34, 34, 34, 0.8);
  }

  &.points1 {
    background-color: var(--color--yellow);
  }

  &.points2 {
    background-color: var(--color--green);
  }

  &.points3,
  &.points4 {
    background-color: var(--color--blue);
  }

  &.points5 {
    background-color: var(--color--red);
  }

  &.blank {
    background-color: white;

    .character {
      color: black;
    }
  }

  &.highlighted {
    background-color: var(--color--primary);

    .character {
      color: white;
    }

    .points {
      color: white;
    }
  }
}

.character {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  caret-color: transparent;

  &::placeholder {
    color: var(--color--inactive);
  }
}

.points {
  position: absolute;
  right: 10%;
  bottom: 5%;
  color: var(--color--foreground);
  font-weight: bold;
  user-select: none;
}
