@import 'styles/mixins';

.tile {
  --background-color: transparent;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--background-color);
  border-radius: var(--border--radius);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: var(--transition);
  transition-property: background-color, color, box-shadow;
  user-select: none;

  @include media('<xs') {
    --border--radius: 3px;
  }

  &.points1 {
    --background-color: var(--color--yellow);
  }

  &.points2 {
    --background-color: var(--color--green);
  }

  &.points3,
  &.points4 {
    --background-color: var(--color--blue);
  }

  &.points5 {
    --background-color: var(--color--red);
  }

  &.raised {
    box-shadow: var(--box-shadow--raised);

    @include media('<xs') {
      box-shadow: var(--box-shadow--raised--subtle);
    }
  }

  &.blank {
    --background-color: var(--color--white);

    color: var(--color--foreground);
  }

  &.empty {
    color: var(--color--inactive);
  }

  &.invalid {
    --background-color: var(--color--foreground);
    --shadow--color: var(--box-shadow--color--inverse);

    color: var(--color--white);
  }

  &.highlighted {
    --background-color: var(--color--primary);

    color: var(--color--primary--opposite);

    .points {
      color: inherit;
    }
  }
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: transparent;
  caret-color: transparent;
  font-size: 16px; // prevent iOS from automatically zooming in on focus

  &::selection {
    --background--color: transparent;
  }
}

.points {
  @include text-stroke(var(--background-color), 1px);

  position: absolute;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
  letter-spacing: -1px;

  @include media('<xs') {
    display: none;
  }

  [dir='ltr'] & {
    bottom: 1%;
    right: 9%;
  }

  [dir='rtl'] & {
    top: 1%;
    left: 9%;
  }
}

.alert {
  --size: 30%;

  position: absolute;
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    var(--color--error--opposite),
    var(--color--error--opposite) 85%,
    transparent 85%,
    transparent
  );
  color: var(--color--error);
  pointer-events: none;

  [dir='ltr'] & {
    top: 0;
    right: 0;
    border-top-right-radius: inherit;
  }

  [dir='rtl'] & {
    top: 0;
    left: 0;
    border-top-left-radius: inherit;
  }
}
