@import 'styles/mixins';

.tile {
  --background-color: transparent;

  position: relative;
  background-color: var(--background-color);
  transition: var(--transition);

  &.raised {
    box-shadow: inset -2px -2px 2px -1px rgba(34, 34, 34, 0.8);
  }

  &.points1 {
    --background-color: var(--color--yellow);
  }

  &.points2 {
    --background-color: var(--color--green);
  }

  &.points3,
  &.points4 {
    --background-color: var(--color--blue);
  }

  &.points5 {
    --background-color: var(--color--red);
  }

  &.blank {
    --background-color: white;

    .character {
      color: black;
    }
  }

  &.highlighted {
    --background-color: var(--color--primary);

    color: white;

    .character {
      color: inherit;
    }

    .points {
      color: inherit;
    }
  }

  &.invalid {
    --background-color: var(--color--red--light);

    color: var(--color--error);
  }
}

.character {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: inherit;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  caret-color: transparent;

  &::placeholder {
    color: var(--color--inactive);
  }

  &:not(:disabled)::selection {
    --background--color: transparent;
  }

  &[disabled] {
    color: inherit;
  }
}

.points {
  @include text-stroke(var(--background-color), 1px);

  position: absolute;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
  letter-spacing: -1px;

  @include media('<xs') {
    display: none;
  }

  [dir='ltr'] & {
    bottom: 1%;
    right: 9%;
  }

  [dir='rtl'] & {
    top: 1%;
    left: 9%;
  }
}

.alert {
  $size: 30%;

  position: absolute;
  width: $size;
  height: $size;

  [dir='ltr'] & {
    top: 0;
    right: 0;
  }

  [dir='rtl'] & {
    bottom: 0;
    right: 0;
  }
}
