@import '~normalize.css/normalize.css';
@import 'styles/variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: $light-gray;
  background-image: url('images/bg.png');
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

input {
  font-family: 'Open Sans', sans-serif;

  // &:focus {
  //   $expand: 8%;

  //   outline-color: $primary;
  //   outline-width: 2px;
  //   outline-style: solid;
  //   position: relative;
  //   z-index: 1;
  //   width: 100% + $expand;
  //   height: 100% + $expand;
  //   transform: translate(-$expand / 2, -$expand / 2);
  //   background-color: $white;
  // }
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
