@import 'styles/mixins';

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--spacing--l);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing--l);
}

.icon {
  --size: 200px;

  height: var(--size);
  width: var(--size);
  margin-bottom: var(--spacing--xxl);
  color: var(--color--red);

  @include media('<xs') {
    --size: 50%;

    margin-bottom: var(--spacing--xl);
  }
}

.tiles {
  max-width: 100%;
  height: 60px;
}
