.show {
  width: 18px;
  height: 18px;
  fill: #aaa;
  transition: fill $micro-animation-duration;
  cursor: pointer;

  &:hover {
    fill: $primary-hover;
  }

  &:active {
    fill: $primary-active;
  }
}

:global(.joyride-tooltip__button--primary) {
  background-color: $primary !important;
}

:global(.joyride-tooltip__button--secondary) {
  color: $primary !important;
}

:global(.joyride-tooltip__header) {
  border-bottom: 1px solid $primary;
}
