.solverMobile {
  position: relative;
  margin: 0 var(--spacing--l);
}

.sizer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.board {
  margin: 0 auto;
}

.controls {
  display: flex;
  justify-content: center;
  margin: var(--spacing--l) 0;
}

.rackContainer {
  display: flex;
  justify-content: center;
  margin: var(--spacing--l) 0;
}

.rack {
  border: var(--border);
}

.submitInput {
  display: none;
}
