@import 'styles/mixins';

.solverMobile {
  position: relative;
  margin: 0 var(--spacing--l);
}

.sizer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.boardContainer {
  margin: 0 auto;
}

.bottomContainer {
  display: flex;
  justify-content: center;
}

.bottomContent {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing--l);
  margin: var(--spacing--l) auto;
  min-width: 0;
}

.rackContainer {
  display: flex;
  justify-content: center;
}

.rack {
  border: var(--border);
}

.submitInput {
  display: none;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing--l);
}

.resultCandidatePicker {
  flex: 1;
}

.submit {
  @include button-reset;
  @include focus-effect;

  flex: 0 0 auto;
  padding: var(--spacing--m) var(--spacing--xl);
  border: var(--border);
  border-radius: var(--border--radius);
  color: white;
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    background-color: var(--color--primary);
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.25;
  }

  @include media('<xs') {
    padding: var(--spacing--m) var(--spacing--l);
  }
}

.submitIcon {
  --size: calc(var(--line-height) * var(--font--size--m));

  display: block;
  width: var(--size);
  height: var(--size);
  pointer-events: none;
}

.check {
  transform: scale(1.75);
}
