.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing--xs) var(--spacing--s);
  border-radius: var(--border--radius);
  background-color: var(--color--foreground--secondary);
  box-shadow: va(--box-shadow);
  line-height: var(--line-height);
  font-size: var(--font--size--s);
  font-weight: bold;
  color: white;
}
