.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing--xs) var(--spacing--m);
  border: var(--border);
  border-radius: var(--border--radius);
  background-color: var(--color--background--element);
  line-height: var(--line-height);
  font-size: var(--font--size--m);
  font-weight: bold;
}
