@import 'styles/variables.scss';

$tile-size: 64px;
$tile-font-size: $tile-size * 3 / 5;

.tile {
  position: relative;
  width: $tile-size;
  height: $tile-size;
  background-color: transparent;
  color: $white;
  font-size: $tile-font-size;
  transition: background-color $micro-animation-duration, color $micro-animation-duration;
  // box-shadow: inset -1px -1px 1px 0px $dark-gray;
  box-shadow: inset -2px -2px 2px -1px rgba(34, 34, 34, 0.8);

  &.small {
    $tile-size: 48px;
    $tile-font-size: $tile-size * 3 / 5;

    width: $tile-size;
    height: $tile-size;
    font-size: $tile-font-size;

    &.empty {
      box-shadow: inset -2px -2px 1px -1px rgba(34, 34, 34, 0.35);
    }

    .points {
      position: absolute;
      right: 6px;
      bottom: 4px;
      font-size: 10px;
      color: $black;
      font-weight: bold;
      user-select: none;
    }
  }

  &.empty {
    box-shadow: inset -2px -2px 2px -1px rgba(34, 34, 34, 0.8);
  }

  &.points1 {
    background-color: transparentize($yellow, $background-opacity);
  }

  &.points2 {
    background-color: transparentize($green, $background-opacity);
  }

  &.points3,
  &.points4 {
    background-color: transparentize($blue, $background-opacity);
  }

  &.points5 {
    background-color: transparentize($red, $background-opacity);
  }

  &.blank {
    background-color: $white;

    .character {
      color: $black;
    }
  }

  &.highlighted {
    background-color: $primary;

    .character {
      color: $white;
    }

    .points {
      color: $white;
    }
  }
}

.character {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  &::placeholder {
    color: $gray;
  }
}

.points {
  position: absolute;
  right: 8px;
  bottom: 6px;
  font-size: 14px;
  color: $black;
  font-weight: bold;
  user-select: none;
}
