.dictionary {
  position: relative;
  min-height: calc(var(--dictionary--height) - var(--text-input--height));
  overflow-y: auto;
  word-break: break-word;
  transition: var(--transition);
  font-size: var(--font--size--s);
}

.content {
  padding: var(--spacing--l);
}

.word {
  margin-bottom: var(--spacing--m);
  font-family: var(--font--family--title);
  font-size: var(--font--size--h2);
  text-transform: uppercase;
}

.isAllowed {
  background-color: var(--color--green--light);
}

.isNotAllowed {
  background-color: var(--color--red--light);
}

.definitions {
  margin: 0;
  padding-left: var(--spacing--l);
}

.definition {
  margin-bottom: var(--spacing--s);

  &:last-child {
    margin-bottom: 0;
  }
}
