$height: 200px;

.dictionary {
  min-height: $height;
  height: $height;
  max-height: $height;
  padding: var(--spacing--l);
  overflow-y: scroll;
  word-break: break-word;
  transition: var(--transition);
  font-size: var(--font--size--s);
}

.empty {
  padding: var(--spacing--xl);
  color: var(--color--foreground--secondary);
  text-align: center;
}

.word {
  margin-bottom: var(--spacing--m);
  font-family: var(--font--family--secondary);
  font-size: var(--font--size--l);
  text-transform: uppercase;
}

.isAllowed {
  background-color: var(--color--green--light);
}

.isNotAllowed {
  background-color: var(--color--red--light);
}

.definitions {
  margin: 0;
  padding-left: var(--spacing--l);
}

.definition {
  margin-bottom: var(--spacing--s);

  &:last-child {
    margin-bottom: 0;
  }
}
