.setting {
  display: flex;
  text-transform: uppercase;
}

.separators {
  display: flex;
  margin-left: 5px;

  .separator {
    margin: 0 5px;
  }
}

.toggle {
  color: $gray;
  cursor: pointer;

  &.active {
    color: $primary;
    text-decoration: underline;
  }

  &:hover {
    color: $primary;
  }
}
