@import 'styles/mixins';

.localeDropdown {
  position: relative;

  &:hover,
  &:focus-within {
    .dropdown {
      display: block;
    }
  }
}

.trigger {
    display: flex;
    align-items: center;
}

.dropdown {
  display: none;
}

.flag {
  $width: 16px;
  $height: 16px;

  width: 32px;
  height: $height;
  margin-right: var(--spacing--m);

  &.gb {
    $aspect-ratio: 2;

    width: $height * $aspect-ratio;
  }

  &.pl {
    $aspect-ratio: 1.6;

    width: $height * $aspect-ratio;
  }

  &.us {
    $aspect-ratio: 1.9;

    width: $height * $aspect-ratio;
  }
}
