.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing--m);
}

.badge {
  margin-left: var(--spacing--m);
}
