.group {
  margin-bottom: var(--spacing--l);
}

.title {
  margin-bottom: var(--spacing--m);
  font-size: var(--font--size--h2);
  font-weight: 300;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing--m);
}
