.navButtons {
  display: flex;
  align-items: center;
  gap: var(--spacing--l);
  gap: calc(var(--spacing--l) - var(--spacing--xs));
}

.button,
.separator {
  &:last-child {
    margin-right: 0;
  }
}

.group {
  display: flex;
  gap: var(--spacing--l);
}

.separator {
  border-right: var(--border);
  border-color: var(--color--inactive);
  height: 32px;
}

.error {
  &,
  &:active,
  &:focus,
  &:hover {
    color: var(--color--error);
  }
}
