.index {
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: var(--transition);

  &.initialized {
    opacity: 1;
  }
}

.nav {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding: var(--spacing--l);
}

.title {
  flex: 1;
  font-size: var(--font--size--l);
}

.flags {
  flex: 0 0 auto;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.contentWrapper {
  flex: 1;
  padding: var(--spacing--xl);
  padding-top: 0;
}

.content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.boardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: var(--spacing--xl);
  flex: 0 0 var(--sidebar-width);
  overflow: visible;

  > * {
    margin-bottom: var(--spacing--xl);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dictionary {
  flex: 0 0 auto;
}

.results {
  flex: 1;
  position: relative;
}

.tilesContainer {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  margin: 0 var(--spacing--l);
  margin-bottom: var(--spacing--xl);
}

.loading {
  opacity: 1;
  transition: var(--transition);
  pointer-events: none;

  &.initialized {
    opacity: 0;
  }
}

.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  opacity: 1;

  &.initialized {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

.splashLogo {
  width: 50vw;
  height: 20vh;
  max-width: 800px;
  pointer-events: none;
  user-select: none;
}

.logoContainer {
  flex: 1;
}

.logo {
  height: 60px;
  user-select: none;
}

.author {
  margin-top: var(--spacing--l);
  font-family: var(--font--family--title);
  font-size: var(--font--size--xl);
  font-weight: 300;
  text-align: center;
}
