.index {
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: var(--transition);

  &.initialized {
    opacity: 1;
  }
}

.nav {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding: var(--spacing--l);
}

.title {
  flex: 1;
  font-size: var(--font--size--l);
}

.flags {
  flex: 0 0 auto;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.contentWrapper {
  flex: 1;
  padding: var(--spacing--xl);
  padding-top: 0;
}

.content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.boardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: var(--spacing--xl);
  flex: 0 0 var(--sidebar-width);
  overflow: visible;

  > * {
    margin-bottom: var(--spacing--xl);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dictionary {
  flex: 0 0 auto;
}

.results {
  flex: 1;
  position: relative;
}

.tilesContainer {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  margin: 0 var(--spacing--l);
  margin-bottom: var(--spacing--xl);
}

.loading {
  opacity: 1;
  transition: var(--transition);
  pointer-events: none;

  &.initialized {
    opacity: 0;
  }
}

.logoContainer {
  flex: 1;
}

.logo {
  height: 60px;
}
