@import 'styles/variables';

$sidebar-width: 400px;
$tiles-container-height: 200px;

.index {
  height: 100%;
  display: flex;
}

.content {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.boardContainer {
  background-color: gray;
  flex: 1;
}

.tilesContainer {
  background-color: orange;
  flex: 0 0 $tiles-container-height;
  box-shadow: $box-shadow--top
}

.sidebar {
  background-color: green;
  flex: 0 0 $sidebar-width;
}
