@import 'styles/mixins';

.solver {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrapper {
  $board-size: 15;
  $tile-size-max: 60px;
  $tile-border-size: 1px;

  flex: 1;
  padding: 0 var(--spacing--xl);
  max-height: $board-size * ($tile-size-max + $tile-border-size) + $tile-border-size;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: var(--spacing--xl);

  @include tablet {
    gap: var(--spacing--l);
  }
}

.boardContainer {
  display: flex;
  position: relative;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 var(--sidebar--width);
  gap: var(--spacing--xl);

  @include tablet {
    gap: var(--spacing--l);
  }
}

.dictionary {
  display: flex;
  flex-direction: column;
}

.dictionaryOutput {
  flex: 1;
  border-bottom: var(--border);
}

.dictionaryInput {
  flex: 0 0 auto;
}

.resultsContainer {
  flex: 1;
  position: relative;
}

.rackContainer {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  margin: var(--spacing--xl) var(--spacing--l);

  @include tablet {
    margin: var(--spacing--l);
  }
}

.rack {
  border: var(--border);
}

.submitInput {
  display: none;
}
