@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.logo {
  width: 50vw;
  max-width: 688px;
  pointer-events: none;
  user-select: none;
}

.pulsating {
  animation: pulsate 0.5s infinite;
}

.logoGrayscale {
  filter: grayscale(1);
  opacity: 0.3;
}

.logoColor {
  position: absolute;
  top: 0;
  left: 0;
}

.author {
  margin-top: var(--spacing--l);
  font-family: var(--font--family--secondary);
  font-size: var(--font--size--xl);
  font-weight: 300;
  text-align: center;
}
