.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--background);
  transition: var(--transition);
  opacity: 1;
  z-index: 1;

  &.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

.logo {
  width: 50vw;
  max-width: 688px;
  pointer-events: none;
  user-select: none;
}

.author {
  margin-top: var(--spacing--l);
  font-family: var(--font--family--title);
  font-size: var(--font--size--xl);
  font-weight: 300;
  text-align: center;
}
