.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--background);
  transition: var(--transition);
  transition-duration: var(--transition--duration--long);
  opacity: 1;
  z-index: 1;

  &.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

.content {
  position: relative;
}

.logo {
  width: 50vw;
  max-width: 688px;
  pointer-events: none;
  user-select: none;
}

.pulsating {
  animation: pulse 0.5s infinite;
}

.logoGrayscale {
  filter: grayscale(1);
  opacity: 0.3;
}

.logoColor {
  position: absolute;
  top: 0;
  left: 0;
}

.author {
  margin-top: var(--spacing--l);
  font-family: var(--font--family--title);
  font-size: var(--font--size--xl);
  font-weight: 300;
  text-align: center;
}
