$z-index: 100;
$width: 400px;

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $width;
  background-color: var(--color--background);
  transition: var(--transition);
  transition-duration: var(--transition--duration--long);
  box-shadow: var(--box-shadow--left);
  opacity: 1;
  z-index: $z-index;

  &.hidden {
    right: -$width;
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

.header {
  position: relative;
  padding: var(--spacing--l);
}

.title {
  font-size: var(--font--size--xl);
  font-weight: 300;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index + 1;
  margin: var(--spacing--l);
}

.content {
  position: relative;
  padding: var(--spacing--l);
}
