@import 'styles/mixins';

$z-index: 100;

.modal,
.closeButton {
  top: 0;

  [dir='ltr'] & {
    right: 0;
  }

  [dir='rtl'] & {
    left: 0;
  }
}

.modal {
  position: fixed;
  z-index: $z-index;
  height: 100vh;
  width: var(--sidebar--width);
  padding: 0;
  border-radius: 0;
  border: none;

  &:focus {
    outline: none;
  }

  @include media('<s') {
    --sidebar--width: 100%;
  }
}

.afterOpen {
  .sidebar {
    [dir='ltr'] &,
    [dir='rtl'] & {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.beforeClose {
  .sidebar {
    opacity: 0;

    [dir='ltr'] & {
      transform: translateX(var(--sidebar--width));
    }

    [dir='rtl'] & {
      transform: translateX(calc(-1 * var(--sidebar--width)));
    }
  }
}

.overlay {
  background-color: transparent;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color--background);
  box-shadow: var(--box-shadow--left);
  transition: var(--transition);
  transition-duration: var(--transition--duration--long);
  transform: translateX(var(--sidebar--width));
  opacity: 0;

  [dir='ltr'] & {
    transform: translateX(var(--sidebar--width));
  }

  [dir='rtl'] & {
    transform: translateX(calc(-1 * var(--sidebar--width)));
  }
}

.header {
  flex: 0 0 auto;
  position: relative;
  padding: var(--spacing--l);
}

.title {
  font-size: var(--font--size--h1);
  font-weight: 300;

  [dir='ltr'] & {
    padding-right: calc(var(--square-button-size) + var(--spacing--s));
  }

  [dir='rtl'] & {
    padding-left: calc(var(--square-button-size) + var(--spacing--s));
  }
}

.closeButton {
  position: absolute !important;
  z-index: $z-index + 1;
  margin: var(--spacing--l);
}

.content {
  flex: 1;
  position: relative;
  padding: var(--spacing--l);
  padding-top: 0;
  overflow: auto;
}
