@import 'styles/mixins';

$size: 32px;

.iconButton {
  @include button-reset;
  @include focus-effect;

  display: inline-block;
  width: $size;
  height: $size;
  color: var(--color--inactive);
  cursor: pointer;

  &:hover {
    .icon {
      color: var(--color--foreground--secondary);
    }
  }

  &:active {
    .icon {
      color: var(--color--foreground);
    }
  }
}

.icon {
  width: $size;
  height: $size;
  transition: var(--transition);
}
