.loading,
.dim {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dim {
  background-color: var(--color--background--overlay);
  z-index: 1;
  backdrop-filter: blur(2px);
}

.text {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiles {
  width: 100% * 2 / 3;
  height: 100%;
}
