.loading {
  position: relative;

  &.isLoading {
    :not(:last-child) {
      filter: blur(1px);
      // TODO: consider other filters when results show words as tiles instead of text
      // filter: opacity(20%);
      // filter: brightness(0.5);
    }
  }
}

.dim {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--background--overlay);
  color: var(--color--foreground);
  z-index: 1;
}
