@import 'styles/animations';

$loading-duration: 250ms;
$loaded-duration: 100ms;
$hiding-duration: 200ms;

.logoSplashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;

  &.animated {
    animation: hide;
    animation-delay: $loading-duration + $loaded-duration;
    animation-duration: $hiding-duration;
    animation-fill-mode: forwards;

    .logos {
      animation: pulse;
      animation-delay: $loading-duration + $loaded-duration;
      animation-duration: $hiding-duration;
      animation-fill-mode: forwards;
    }

    .logoColor {
      animation: progress;
      animation-duration: $loading-duration;
      animation-fill-mode: forwards;
    }
  }
}

.logos {
  position: relative;
  width: 50vw;
  max-width: 688px;
  pointer-events: none;
  user-select: none;
  transition: var(--transition);
}

.logoGrayscale {
  filter: grayscale(1);
  opacity: 0.3;
}

.logoColor {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.author {
  margin-top: var(--spacing--l);
  font-family: var(--font--family--title);
  font-size: var(--font--size--h1);
  font-weight: 300;
  text-align: center;
}
