@import 'styles/variables.scss';

.tile {
  $tile-size: 64px;
  $tile-font-size: $tile-size * 3 / 5;

  position: relative;
  width: $tile-size;
  height: $tile-size;
  background-color: transparent;
  color: $white;
  transition: background-color $micro-animation-duration, color $micro-animation-duration;
  box-shadow: inset -1px -1px 1px 0px $dark-gray;

  &.points1 {
    background-color: transparentize($yellow, $background-opacity);
  }

  &.points2 {
    background-color: transparentize($green, $background-opacity);
  }

  &.points3 {
    background-color: transparentize($blue, $background-opacity);
  }

  &.points5 {
    background-color: transparentize($red, $background-opacity);
  }

  &.blank {
    background-color: $white;

    .character {
      color: $black;
    }
  }

  .character {
    width: $tile-size;
    height: $tile-size;
    box-sizing: border-box;
    background-color: transparent;
    border: 0;
    font-size: $tile-font-size;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .points {
    position: absolute;
    right: 8px;
    bottom: 6px;
    font-size: 14px;
    color: $black;
    font-weight: bold;
  }
}
