@import 'styles/variables.scss';

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.sidebar {
  flex: 0 0 auto;
  box-shadow: 0 0 5px 0 $gray;
  overflow: hidden;
}

.menu {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-s 0;
  border-bottom: $border;
  box-shadow: 0 0 5px 0 $gray;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: $very-light-gray;
  overflow: auto;
}

.tiles {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-m 0;
  border-top: $border;
  box-shadow: 0 0 5px 0 $gray;
}
