@import 'styles/variables.scss';

$footer-height: 178px;

.app {
  height: 100vh;

  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - #{$footer-height});

    @media (max-width: 1133px) {
      align-items: initial;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      width: $app-width;
      margin-bottom: $footer-height;
      padding: $spacing 0;
    }

    .left {
      max-width: $left-width;
    }

    .right {
      max-width: $right-width;
      margin-left: $spacing;
    }

    .left,
    .right {
      margin-bottom: $spacing;

      > div {
        margin: $spacing 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .remainingTiles,
    .bar,
    .time {
      flex: 1 0 100%;
    }

    .remainingTiles {
      margin-bottom: $spacing;
    }

    .bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .time {
      display: flex;
      justify-content: center;
    }
  }
}
