name: Deploy

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        type: string
        required: true
        default: "master"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /projects/scrabble-solver
            git checkout ${{ inputs.branch }}
            git pull origin ${{ inputs.branch }}
            npm install
            npm run build
            sudo systemctl restart scrabble-solver.service
