@import 'styles/mixins';

.form {
  @include focus-effect;

  border-radius: var(--border--radius);
}

.input {
  @include text-input;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border--radius);
  border: none;
  box-shadow: var(--box-shadow);
}
