@import 'styles/mixins';

.form {
  @include focus-effect;

  border-radius: var(--border--radius);
}

.input {
  @include text-input;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border--radius);
  border: none;
  opacity: 0;
  caret-color: transparent;
  box-shadow: var(--box-shadow);

  &:focus {
    opacity: 1;
    caret-color: auto;
  }
}
